<%= @albums %>
<h3><strong><%= link_to @artist['name'], @artist['url'] %></strong></h3>
  <blockquote>
      <p style="color: gray;"><i class='fa fa-chevron-circle-right' title="playcount."></i> <%= @artist['playcount'] %></p>
      <p style="color: gray;"><i class='fa fa-microphone' title="listeners."></i> <%= @artist['listeners'] %></p>
  </blockquote>
  <div style="margin-left: inherit; margin-bottom: 4%; color: gray">
    <% @imgar = "https://images.sk-static.com/images/media/profile_images/artists/" + @id.to_s + "/huge_avatar" %>
    <img style="border-radius: 6px; float:left; margin-right: 25px; margin-bottom: 20px;" src = "<%= @imgar %>" alt="No image" />
    <div style="text-align: justify;">
      <h3 style="margin-top: inherit; color: darksalmon;">Biography</h3>
      <%= @bio['bio']['content'].html_safe %>
    </div>
  </div>

  <h3 style="color: darksalmon;"><%= @artist['name'] %>'albums</h3>
  <div class="container-fluid">
    <div style="width: 100%; height: 170px; overflow-x: scroll;">
        <% @topAlbums.each do |album| %>
          <% @imgal = album['image'][2]['content'] %>
          <% @tital = album['name']%>
            <div class="row float-left">
              <img class="img-fluid" style="weight: 160px; height: 160px; margin-left: 40px; margin-bottom: 5%; border-radius: 2px;" title= "<%= @tital %>." src= "<%= @imgal %>"></img>
            </div>
        <% end %>
    </div>
  </div>
  <br/>

  <small style="text-align: justify; color: darksalmon;">
    <cite><h4> - TAGs <h4/>
      <% @tags.each do |tag| %>
        <% @href = tag["url"] %>
        <button type="button" onclick="window.open('<%= @href %>','blank');" class="btn btn-outline-secondary"><%= tag["name"] %></button>
      <% end %>
    </cite>
  </small>
  <br/>
  <br/>
