<%= @albums %>
<h3><strong><%= @artist['name'] %></strong></h3>
  <blockquote>
      <p>Artist: <strong></strong></p>
      <p>Album: <strong></strong></p> <small><cite><i class="glyphicon glyphicon-map-marker"></i></cite></small>
  </blockquote>
  <div class="row" style="margin-left: inherit; margin-top: 40px; margin-bottom: 40px">
    <% @imgj = @artist['image'][4]['content'] %>
    <img style="border-radius: 6px;" src = <%= @imgj %> alt="No image" />
  </div>
      <p>playcount: <strong><%= @artist['playcount'] %></strong></p>
      <p>listeners: <strong><%= @artist['listeners'] %></strong></p>
      <p>url: <strong><%= @artist['url'] %></strong></p>
      <p>mbid: <strong><%= @artist['mbid'] %></strong></p>
